/** VARIABLES **/

:root {
    /* Base Colors */
    --em-primary-color: #005204;
    --em-secondary-color: #9e2800;
    --em-tertiary-color: #5c5c5c;

    /* Buttons */
    --btn-primary-color: #005204;
    --btn-primary-bg: #E3E3E3;

    /* Coordinator */
    --em-coordinator-secondary-color: #353544;
    --em-coordinator-tertiary-color: #5a5a72;
    --em-coordinator-interface: #353544;

    /* Attachment */
    --attachment-width: 75%;

    /* Colors */
    --transparent: transparent;
    --neutral-0: #FFFFFF;
    --neutral-25: #FEFEFE;
    --neutral-50: #FAFAFB;
    --neutral-100: #FAFAFA;
    --neutral-200: #F3F3F3;
    --neutral-300: #EDEDED;
    --neutral-400: #E3E3E3;
    --neutral-500: #A4A4A4;
    --neutral-600: #727272;
    --neutral-700: #4B4B4B;
    --neutral-800: #2B2B2B;
    --neutral-900: #0B0C0F;

    --red-25: #FFFBFA;
    --red-50: #FEF3F2;
    --red-100: #FEE4E2;
    --red-200: #FECDCA;
    --red-300: #FCA19B;
    --red-400: #F97066;
    --red-500: #F04437;
    --red-600: #D92C20;
    --red-700: #B42318;
    --red-800: #912018;
    --red-900: #7A2619;

    --main-25: #F7FBF9;
    --main-50: #E4F0EC;
    --main-100: #BEDBD0;
    --main-200: #98C6B5;
    --main-300: #72B19A;
    --main-400: #48997C;
    --main-500: #20835F;
    --main-600: #1A6B4E;
    --main-700: #15553E;
    --main-800: #104331;
    --main-900: #073122;

    --green-500: #20835F;
    --green-700: #008A35;

    --blue-25: #F4F9FF;
    --blue-50: #EFF8FF;
    --blue-100: #D1E9FF;
    --blue-200: #B2DDFF;
    --blue-300: #84CAFF;
    --blue-400: #53B0FD;
    --blue-500: #2E90FA;
    --blue-600: #156FEE;
    --blue-700: #175CD3;
    --blue-800: #1849A9;
    --blue-900: #194084;

    --orange-25: #FEFAF5;
    --orange-50: #FEF6EE;
    --orange-100: #FCEAD7;
    --orange-200: #F8DBAF;
    --orange-300: #F7B279;
    --orange-400: #F38743;
    --orange-500: #EF681F;
    --orange-600: #DF4F16;
    --orange-700: #B93814;
    --orange-800: #932F18;
    --orange-900: #772917;

    --night-blue: #353544;
    --dark-grey: #5A5A72;
    --grey: #B0B0BF;
    --light-grey: #F4F4F6;
    --light-grey-2: #F2F2F2;
    --light-grey-3: #CCCCCC;

    --bg-2: #F8F8F8;
    --bg-3: #C62222;

    /* Profile */
    --em-profile-color: #005204;
    --em-profile-font: Inter;
    --em-profile-font-title: Inter;

    /* Alerts */
    --em-alert-error-bgc: #fae9e9;
    --em-alert-error-color: #520105;
    --em-alert-error-icon-color: #a60e15;
    --em-alert-error-border-width: 0px;
    --em-alert-error-border-color: rgba(255, 255, 255, 0);
    --em-alert-warning-bgc: #fff6de;
    --em-alert-warning-color: #563a04;
    --em-alert-warning-icon-color: #b38405;
    --em-alert-warning-border-width: 1px;
    --em-alert-warning-border-color: rgba(255, 255, 255, 0);
    --em-alert-info-bgc: #ebeefa;
    --em-alert-info-color: #232b4f;
    --em-alert-info-icon-color: #525b85;
    --em-alert-info-border-width: 1px;
    --em-alert-info-border-color: rgba(255, 255, 255, 0);
    --em-alert-success-bgc: #eaf3e8;
    --em-alert-success-color: #02300c;
    --em-alert-success-icon-color: #2d871d;
    --em-alert-success-border-width: 1px;
    --em-alert-success-border-color: rgba(255, 255, 255, 0);
    --em-alert-modal-padding: 32px;

    /* Fonts */
    --em-coordinator-font: Inter;
    --em-coordinator-font-title: Inter;
    --em-applicant-font: Inter;
    --em-applicant-font-title: Inter;
    --em-coordinator-font-size: 16px;
    --em-coordinator-h1: 24px;
    --em-coordinator-h2: 22px;
    --em-coordinator-h3: 20px;
    --em-coordinator-h4: 18px;
    --em-coordinator-h5: 16px;
    --em-coordinator-h6: 14px;
    --em-applicant-font-size: 16px;
    --em-applicant-h1: 24px;
    --em-applicant-h2: 22px;
    --em-applicant-h3: 20px;
    --em-applicant-h4: 18px;
    --em-applicant-h5: 16px;
    --em-applicant-h6: 14px;
    --em-coordinator-title-color: #000000;
    --em-coordinator-text-color: #4b4b4b;
    --em-default-title-color-1: #000000;
    --em-default-title-color-1-500: var(--neutral-500);
    --em-default-title-color-2: var(--neutral-0);
    --em-default-title-color-3: #005204;
    --em-default-text-color-1: #000000;
    --em-default-text-color-1-500: var(--neutral-500);
    --em-default-text-color-1-800: var(--neutral-600);
    --em-default-text-color-1-700: var(--neutral-700);
    --em-default-text-color-2: var(--neutral-0);
    --em-default-text-color-3: #9e2800;
    --em-default-text-color-4: #5c5c5c;
    --em-defaut-bg: #fff;
    --em-applicant-bg: #f8f8f8;
    --em-coordinator-bg: #f8f8f8;
    --em-default-br: 8px;
    --em-applicant-br: 8px;
    --em-coordinator-br: 8px;
    --em-applicant-br-cards: 16px;
    --em-coordinator-br-cards: 16px;
    --em-status-br: 8px;
    --em-coordinator-form-br: 4px;
    --spacing-2: 8px;
    --em-spacing-vertical: 8px;
    --em-spacing-horizontal: 12px;
    --em-coordinator-vertical: 8px;
    --em-coordinator-horizontal: 12px;
    --em-font-weight-100: 100;
    --em-font-weight-200: 200;
    --em-font-weight-300: 300;
    --em-font-weight-400: 400;
    --em-font-weight-500: 500;
    --em-font-weight-600: 600;
    --em-font-weight-700: 700;
    --em-font-weight-800: 800;
    --em-font-weight-900: 900;
    --p-4: 4px;
    --p-8: 8px;
    --p-12: 12px;
    --p-16: 16px;
    --p-24: 24px;
    --p-32: 32px;
    --p-40: 40px;
    --p-48: 48px;
    --p-56: 56px;
    --p-64: 64px;
    --p-72: 72px;
    --p-80: 80px;
    --m-4: 4px;
    --m-8: 8px;
    --m-16: 16px;
    --m-24: 24px;
    --m-32: 32px;
    --m-40: 40px;
    --m-48: 48px;
    --m-56: 56px;
    --m-64: 64px;
    --m-72: 72px;
    --m-80: 80px;
    --em-box-shadow-x-1: 0px;
    --em-box-shadow-y-1: 1px;
    --em-box-shadow-blur-1: 1px;
    --em-box-shadow-color-1: rgba(5, 47, 55, 0.07);
    --em-box-shadow-x-2: 0px;
    --em-box-shadow-y-2: 1px;
    --em-box-shadow-blur-2: 1px;
    --em-box-shadow-color-2: rgba(5, 47, 55, 0.07);
    --em-box-shadow-x-3: 0px;
    --em-box-shadow-y-3: 1px;
    --em-box-shadow-blur-3: 1px;
    --em-box-shadow-color-3: rgba(5, 47, 55, 0.07);
    --em-form-error-color: #f04437;
    --em-form-success-color: #20835f;
    --em-form-label-color: #000000;
    --em-form-label-margin-bottom: 6px;
    --em-form-field-margin-bottom: 24px;
    --em-form-label-size: 16px;
    --em-form-label-weight: 500;
    --em-form-height: 40px;
    --em-form-font-size: 14px;
    --em-form-tip-color: #5c5c5c;
    --em-form-br: 4px;
    --em-form-bc: #e0e0e5;
    --em-form-br-block: 16px;
    --em-form-bgc: #ffffff;
    --em-form-br-focus: 6px;
    --em-form-bc-focus: #a7a7a7;
    --em-form-bgc-focus: #ffffff;
    --em-form-outline-width-focus: 1px;
    --em-form-outline-color-focus: #007bff;
    --em-form-outline-offset-focus: 2px;
    --em-form-bgc-hover: #ededed;
    --em-form-bc-hover: #2e404f;
    --em-form-bc-error: #f04437;
    --em-form-label-color-error: #000000;
    --em-form-element-color-error: #D92C20;
    --em-form-after-bh: 0px;
    --em-form-radio-padding: 8px 12px 8px 8px;
    --em-form-radio-bw: 1px;
    --em-form-radio-bc: #a4a4a4;
    --em-form-radio-br: 4px;
    --em-form-radio-width: 16px;
    --em-form-radio-height: 16px;
    --em-form-radio-margin-right: 8px;
    --em-form-radio-color-checked: #007bff;
    --em-form-radio-bgc-checked: #ededed;
    --em-form-radio-bc-checked: #2b2b2b;
    --em-form-yesno-bw: 1px;
    --em-form-yesno-br: 4px;
    --em-form-yesno-width: 50%;
    --em-form-yesno-height: 48px;
    --em-form-yesno-gap: 20px;
    --em-form-yesno-color-yes: #ffffff;
    --em-form-yesno-bgc-yes: #238c69;
    --em-form-yesno-bc-yes: #238c69;
    --em-form-yesno-color-yes-hover: #238c69;
    --em-form-yesno-bgc-yes-hover: #ffffff;
    --em-form-yesno-bc-yes-hover: #238c69;
    --em-form-yesno-color-no: #ffffff;
    --em-form-yesno-bgc-no: #f04437;
    --em-form-yesno-bc-no: #f04437;
    --em-form-yesno-color-no-hover: #f04437;
    --em-form-yesno-bgc-no-hover: #ffffff;
    --em-form-yesno-bc-no-hover: #f04437;
    --em-form-yesno-color-not-active: #171717;
    --em-form-yesno-bgc-not-active: #ffffff;
    --em-form-yesno-bc-not-active: #8990a9;
    --em-form-yesno-color-not-active-hover: #ffffff;
    --em-form-yesno-bgc-not-active-hover: #8990a9;
    --em-form-yesno-bc-not-active-hover: #8990a9;
    --em-form-checkbox-bw: 0px;
    --em-form-checkbox-bc: #a7a7a7;
    --em-form-checkbox-padding: 12px;
    --em-form-checkbox-scale: 1.3;
    --em-form-checkbox-input-margin: 12px;
    --em-form-checkbox-color-checked: #007bff;
    --em-form-checkbox-bc-error: #f04437;
    --em-form-fileupload-padding: 12px 8px;
    --em-form-fileupload-bgc: #f0f0f0;
    --em-coordinator-form-height: 40px;
    --em-coordinator-bc: #cccccc;
    --link-xxs-size: 10px;
    --link-regular: #005204;
    --link-visited: color-mix(in srgb,var(--link-regular),#000 30%);
    --em-default: #b4b4b4;
    --em-red-1: #eb0000;
    --em-red-2: #c00016;
    --em-pink-1: #ff78d1;
    --em-pink-2: #e0008a;
    --em-purple-1: #d292ef;
    --em-purple-2: #9600c7;
    --em-light-blue-1: #35d7d2;
    --em-light-blue-2: #308281;
    --em-blue-1: #64d8ff;
    --em-blue-2: #0073e5;
    --em-blue-3: #0644ae;
    --em-green-1: #98d432;
    --em-green-2: #008a35;
    --em-yellow-1: #ffe014;
    --em-yellow-2: #ffae00;
    --em-orange-1: #ff6900;
    --em-orange-2: #cc4b00;
    --em-beige: #ffc285;
    --em-brown: #8b511f;
    --em-grey-1: #b4b4b4;
    --em-grey-2: #757575;
    --em-black: #1e1e1e;
    --em-spacing-1: 4px;
    --em-spacing-2: 8px;
    --em-spacing-3: 12px;
    --em-spacing-4: 16px;
    --em-spacing-5: 20px;
    --em-spacing-6: 24px;
    --em-spacing-7: 28px;
    --em-spacing-8: 32px;
    --em-spacing-9: 36px;
    --em-spacing-10: 40px;
    --em-spacing-11: 44px;
    --em-spacing-12: 48px;
}